.selectField {
    padding: 17px 14px;
    font-family: 'Myriad Pro', sans-serif;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #999999;
    width: 100%;
    min-height: 53px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.selectField option {
    color: #303134;
}

.selectField:hover {
    border-color: #303134;
    cursor: pointer;
}

.selectField::placeholder {
    color: #999999;
    line-height: 23px;
}


